{% extends 'home.html' %}

{% block content %}

<div class="container">
<div class="row">
  
  {% for p in product %}
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="/product/{{p.id}}/">
        <img class="d-block img-fluid"src="/media/{{p.image}}" alt="{{p.name}}" style="height: 60%; width: 60%; object-fit: contain">
        <div class="caption">
          <center><p>{{p.description}}</p>
          <p>Rs. <strong>{{p.price}}</strong></p></center>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}

</div>
</div>
{% endblock %}