{% extends 'home.html' %}

{% block content %}

<div class="container">
<div class="row">

<div class="col-md-4">
      <div class="thumbnail">
        <img class="d-block img-fluid"src="/media/{{product.image}}" alt="{{product.name}}" style="height: 100%; width: 100%; object-fit: contain">
      </a>
    </div>
</div>

<div class="col-md-4">
  <div class="jumbotron">
    <table class="table">
      <tbody>
        <tr>
          <td>Name:</td> <td><strong>{{product.name}}</strong></td>
        </tr>
        <tr>
          <td>Description:</td><td> <strong>{{product.description}}</strong></td>
        </tr>
        <tr>
          <td>old price:</td><td> <strong><s>{{product.old_price}}</s></strong></td>
        </tr>
        <tr>
          <td>price:</td><td> <strong>{{product.price}}</strong></td>
        </tr>
        <tr>
          <td>available:</td><td> <strong>{{product.quantity}}</strong></td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
        <form method='POST' action="/add/to/cart/{{product.id}}/">
          {% csrf_token %}
          <table class="table">
            <tr>
              <td>quantity</td>
              <td><input type='number' name='quantity'>
            </tr>
            <tr>
              <td><input type="submit" value="Add To Cart" name="submit" alt="Add To Cart" /></td>
            </tr>
          </table>
      </form>
  </div>
</div>

</div>
</div>
{% endblock %}