{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Bootstrap Example</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css"/>
      <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
      <style>
      </style>
   </head>
<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

<div class="container">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
  <table class="table">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>quantity</th>
        <th>price/unit</th>
        
      </tr>
    </thead>
    <tbody>
      {% for c in cart %}
      <tr>
        <td>{{c.product.name}}</td>
        <td>{{c.quantity}}</td>
        <td>{{c.product.price}}</td>      
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
<div class="col-md-2"><a href='/checkout/'><strong>checkout</strong></a></div>
</div>
</div>


</body>
</html>